<template name="section">

  <div class="off-canvas-wrapper wrapper full-height">
    <div class="off-canvas-wrapper-inner wrapper full-height" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>{{> sidebarMobile}}</div>
      <div class="off-canvas-content wrapper full-height" data-off-canvas-content>

        <div class="wrapper full-height">

          {{> nav}}

          <div class="container full-height row">

            {{> sidebar}} 
            
            {{#if equals format "movies"}} 
            
              {{> movies}} 
              {{else}} {{#if equals format "shows"}} 
                {{> shows}} 
              {{else}} 
                {{> shows}} 
              {{/if}} 
            {{/if}}
            
          </div>

        </div>
      </div>
    </div>
  </div>

  {{> footer}}

</template>
