<template name="sidebar">
    
    
    <div class="sidebar small-12 medium-3 large-2 columns">
        
        
        <div class="top">
            
            <a class="add"><i class="fa fa-plus"></i></a>
            
        </div>
        
        <div class="content">
            
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
            
            {{#each sections}}
            
            <a href="{{pathFor 'section' _id = _id}}" class="section-label">{{name}} <a class="edit float-right"><i class="fa fa-pencil"></i></a></a>
                
                
            
            {{/each}}
            
            
        </div>
        
        
        
    </div>
    
    
    <div class="reveal" id="add-content" data-reveal>
        
      <div class="content">
          
          <form id="adding-content">
              
               <input type="text" id="new-content-name" placeholder="Name of section">
               
               <input type="text" id="new-content-location" name="new_content_location" placeholder="Enter the directory" value="/">
               
               <div class="directory_wrapper">
                   
                   <a id="up-directory" class="">Up one directory</a>
                   
                   {{#each directories}}
                   
                       <a class="directory">{{name}}</a>
                       
                   {{/each}}
               
               </div>
               
               
               
               <label>Choose a format
                  <select id="new-content-format">
                    <option value="movies">Movies</option>
                    <option value="shows">TV Shows</option>
                    <option value="other">Other</option>
                  </select>
                </label>
                
                <input type="submit" class="button" value="Add Section">
              
          </form>
          
      </div>
      
      
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    
    
        <div class="reveal" id="edit-content" data-reveal>
        
      <div class="content">
          
          <form id="editing-content">
              
               <input type="text" id="edit-content-name" placeholder="Name of section">
               <input type="text" id="edit-content-location" placeholder="Enter the directory">
               <div class="directory_wrapper">
                   
                   <a id="up-directory" class="">Up one directory</a>
                   
                   {{#each directories}}
                   
                       <a class="directory">{{name}}</a>
                       
                   {{/each}}
               
               </div>
               
               <label>Choose a format
                  <select id="edit-content-format">
                    <option value="movies">Movies</option>
                    <option value="shows">TV Shows</option>
                    <option value="other">Other</option>
                  </select>
                </label>
                
                <input type="submit" class="button" value="Save Section">
                
                <a class="button" id="remove-sections">Remove all sections</a>
                <a class="button" id="remove-section">Remove section</a>
              
          </form>
          
      </div>
      
      
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    
    
</template>
